<!-- Template -->
<template>
  <!-- Page -->
  <div class="pageWrapper login container">
    <div class="contentWrapper">
      <h1 class="title">{{ locale.interface.login }}</h1>

      <!-- Form -->
      <form method="post" @submit.prevent="submit">
        <!-- Email -->
        <div class="field">
          <label class="label">{{ locale.interface.email }}</label>
          <div class="control">
            <input
              class="input is-primary is-medium"
              name="email"
              :placeholder="locale.interface.placeholder + ': user@domain.zone'"
              v-model="email"
              required
            >
          </div>
        </div>

        <!-- Password -->
        <div class="field">
          <label class="label">{{ locale.interface.password }}</label>
          <div class="control">
            <input
              class="input is-primary is-medium"
              name="password"
              type="password"
              :placeholder="locale.interface.placeholder + ': WF4S1k'"
              v-model="password"
              required
            >
          </div>
        </div>

        <!-- Buttons -->
        <div class="field is-grouped">
          <div class="control">
            <button
              class="button is-primary"
              :class="{ 'is-loading': loading }"
              type="submit"
            >{{ locale.interface.submit }}</button>
          </div>
          <div class="control">
            <button
              class="button is-text"
              type="button"
              @click="reset"
            >{{ locale.interface.cancel }}</button>
          </div>
        </div>

        <!-- Danger -->
        <article class="animated shake message is-danger" v-show="error">
          <div class="message-body">{{ error }}</div>
        </article>
      </form>

      <!-- Close button -->
      <button class="modal-close is-large closeButton" aria-label="close" @click="$router.go(-1)"></button>
    </div>
  </div>
</template>

<!-- Logic -->
<script src="./login-page.js"></script>
