<!-- Template -->
<template>
  <!-- Page -->
  <div class="pageWrapper register container">
    <div class="contentWrapper">
      <h1 class="title">{{ locale.interface.register }}</h1>

      <!-- Form -->
      <form method="post" @submit.prevent="submit" enctype="multipart/form-data">
        <!-- Name -->
        <div class="field">
          <label class="label">{{ locale.interface.name }}</label>
          <div class="control">
            <input
              title="name"
              class="input is-primary is-medium"
              name="name"
              :placeholder="locale.interface.placeholder + ': Иван'"
              v-model="name"
              required
            >
          </div>
        </div>

        <!-- Surname -->
        <div class="field">
          <label class="label">{{ locale.interface.surname }}</label>
          <div class="control">
            <input
              title="surname"
              class="input is-primary is-medium"
              name="surname"
              :placeholder="locale.interface.placeholder + ': Мацука'"
              v-model="surname"
              required
            >
          </div>
        </div>

        <!-- Email -->
        <div class="field">
          <label class="label">{{ locale.interface.email }}</label>
          <div class="control">
            <input
              title="email"
              type="email"
              class="input is-primary is-medium"
              name="email"
              :placeholder="locale.interface.placeholder + ': user@domain.zone'"
              v-model="email"
              required
            >
          </div>
        </div>

        <!-- Phone -->
        <div class="field">
          <label class="label">{{ locale.interface.phone }}</label>
          <div class="control">
            <input
              title="phone"
              class="input is-primary is-medium"
              name="phone"
              :placeholder="locale.interface.placeholder + ': +7 (999) 999-99-99'"
              v-model="phone"
              required
            >
          </div>
        </div>

        <!-- Password -->
        <div class="field">
          <label class="label">{{ locale.interface.password }}</label>
          <div class="control">
            <input
              title="password"
              class="input is-primary is-medium"
              name="password"
              type="password"
              :placeholder="locale.interface.placeholder + ': WF4S1k'"
              v-model="password"
              required
            >
          </div>
        </div>

        <!-- Room -->
        <div class="field">
          <label class="label">{{ locale.interface.room }}</label>
          <div class="control">
            <input
              title="room"
              class="input is-primary is-medium"
              name="room"
              :placeholder="locale.interface.placeholder + ': 46'"
              v-model="room"
              required
            >
          </div>
        </div>

        <!-- File upload -->
        <div class="field file has-name is-fullwidth">
          <label class="file-label">
            <input class="file-input" type="file" name="card" @change="handleFileUpload($event)">
            <span class="file-cta">
              <span class="fa file-icon">
                <span class="fas fa-upload"></span>
              </span>
              <span class="file-label">{{ locale.interface.picture }}</span>
            </span>
            <span class="file-name">{{ file ? file.name : locale.interface.file }}</span>
          </label>
        </div>

        <!-- Buttons -->
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary" type="submit" :class="{ 'is-loading': loading }">
              {{
              locale.interface.submit }}
            </button>
          </div>
          <div class="control">
            <button
              class="button is-text"
              type="button"
              @click="reset"
            >{{ locale.interface.cancel }}</button>
          </div>
        </div>

        <!-- Danger -->
        <article class="animated shake message is-danger" v-show="errors.length">
          <div class="message-body">
            <div v-for="(error, index) in errors" :key="index">
              <strong>{{ locale.interface[error.field].capitalize() }}</strong>:
              <span>{{ locale.validation.registration[error.validation] }}</span>
            </div>
          </div>
        </article>
      </form>

      <!-- Close button -->
      <button class="modal-close is-large closeButton" aria-label="close" @click="$router.go(-1)"></button>
    </div>
  </div>
</template>

<!-- Logic -->
<script src="./register-page.js"></script>
