<!-- Template -->
<template>
  <div class="wrapper">
    <!-- Page wrapper -->
    <div class="profile container">
      <h1 class="profile-greeting responsive-header">{{ this.greet() }}</h1>

      <!-- Image -->
      <div
        v-if="user.card"
        class="profile-image"
        :style="{ backgroundImage: `url('/assets/images/uploads/${user.card}')` }"
      ></div>
      <div v-else class="profile-image">{{ locale.interface.no_avatar }}</div>

      <!-- Buttons -->
      <div class="profile-buttons field is-grouped">
        <!-- Left button -->
        <div class="control">
          <button
            class="button level-item is-primary"
            @click="$router.push('/calendar')"
          >{{ locale.interface.records }}</button>
        </div>

        <!-- Right button -->
        <div class="control">
          <button
            class="button level-item"
            :class="{ 'is-loading': loading }"
            @click="exit"
          >{{ locale.interface.signout }}</button>
        </div>
      </div>
    </div>

    <!-- Language selector -->
    <div class="select languageSelect">
      <select title="language" @change="handleLocaleChange">
        <option :selected="getCurrentLocale() === 'ru'" value="ru">🇷🇺</option>
        <option :selected="getCurrentLocale() === 'en'" value="en">🇬🇧</option>
        <option :selected="getCurrentLocale() === 'no'" value="no">🇳🇴</option>
      </select>
    </div>
  </div>
</template>

<!-- Logic -->
<script src="./profile-page.js"></script>
