<!-- Template -->
<template>
  <div class="pageWrapper calendar container">
    <div class="contentWrapper">
      <!-- Current month -->
      <h1 class="responsive-header">{{ locale.calendar.months[calendar.monthAbbr] }}</h1>

      <div class="calendar-legend">
        <div class="circleWrapper">
          <div class="calendar-legendElement">
            <div class="circle has-background-success"></div>
            <span>&mdash;</span>
            {{ locale.interface.mine }}
          </div>
          <div class="calendar-legendElement">
            <div class="circle has-background-info"></div>
            <span>&mdash;</span>
            {{ locale.interface.has_available }}
          </div>
        </div>
      </div>

      <!-- Table -->
      <table class="table is-striped is-bordered is-hoverable is-fullwidth">
        <!-- Table header -->
        <thead class="is-hidden-mobile">
          <tr>
            <th
              v-for="weekDay in calendar.weekdaysAbbr"
              :key="weekDay"
            >{{ locale.calendar.weekdaysAbbr[weekDay] }}</th>
          </tr>
        </thead>

        <!-- Table body -->
        <tbody>
          <tr v-for="(week, index) in calendar.calendar" :key="index">
            <td
              v-for="(day, index) in week"
              class="calendarDay"
              @click="openDay(day)"
              :class="{ unavailableDate: !checkDay(day), 'is-hidden-mobile': !day }"
              :key="day"
            >
              <span class="calendarMonthDay" v-if="day">
                {{ day ? day : '' }}
                <span
                  class="is-hidden-tablet"
                >, {{ locale.calendar.weekdaysAbbr[calendar.weekdaysAbbr[index]] }}</span>
              </span>

              <div v-if="checkDay(day)" class="circleWrapper">
                <div v-if="checkIfMine(day)" class="circle has-background-success"></div>
                <div v-if="checkIfHasAvailable(day)" class="circle has-background-info"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Rules -->
      <div class="modal" v-bind:class="{ 'is-active': !accepted }">
        <div class="modal-background"></div>
        <div class="modal-card">
          <!-- Header -->
          <header class="modal-card-head">
            <p class="modal-card-title">{{ locale.interface.rules }}</p>
            <button @click="accepted = !accepted" class="delete" aria-label="close"></button>
          </header>

          <!-- Text -->
          <section class="modal-card-body">
            <div v-for="(rule, index) in locale.rules.rules" :key="index">
              <h2 class="title is-4">{{ locale.rules.headings[index] }}</h2>
              <p>{{ rule }}</p>
            </div>
          </section>

          <!-- Footer -->
          <footer class="modal-card-foot">
            <button class="button is-success" @click="accept()">{{ locale.interface.accept }}</button>
          </footer>
        </div>
      </div>

      <!-- Close button -->
      <button class="modal-close is-large closeButton" aria-label="close" @click="$router.go(-1)"></button>
    </div>
  </div>
</template>

<!-- Logic -->
<script src="./calendar-page.js"></script>
