<!-- Templates -->
<template>
  <!--Card -->
  <div @click="openRecordMenu(record)">
    <!--Is occupied -->
    <div v-if="this.record" class="dayRecord card">
      <article class="message is-success">
        <div class="message-body">
          <span class="is-hidden-mobile">{{ getRecordText() }}</span>
          <span class="is-hidden-tablet">{{ getMobileRecordText() }}</span>
        </div>
      </article>

      <!-- Menus 3-->
      <div v-if="record.menu">
        <!-- My time -->
        <div v-if="checkAuthor()" class="dayRecord-menu">
          <p>{{ locale.interface.yours }}: {{ getMenuDate() }}</p>

          <!-- Delete my time -->
          <button
            class="button is-danger is-inverted"
            @click="deleteRecord($event)"
          >{{ locale.interface.delete }}</button>
        </div>

        <!-- Not my time -->
        <div v-else class="dayRecord-menu">
          <p>
            {{ locale.interface.occupied }}:
            <a
              class="dayRecord-phone"
              :href="'tel:' + record.user.phone"
            >
              {{
              record.user.phone }}
            </a>
          </p>
        </div>
      </div>
    </div>

    <!-- Is available -->
    <div v-else-if="isAvailable" class="dayRecord card" @click="handleOpenAddForm(time, washer)">
      <article class="message is-info">
        <div class="message-body">
          <span>{{ locale.interface.available }}</span>
        </div>
      </article>
    </div>

    <!-- Is unavailable -->
    <div v-else class="dayRecord card">
      <article class="message is-error">
        <div class="message-body">
          <span>{{ locale.interface.unavailable }}</span>
        </div>
      </article>
    </div>
  </div>
</template>

<!-- Logic -->
<script src="./record-block.js"></script>
