<!-- Template -->
<template>
  <div class="pageWrapper day">
    <div class="contentWrapper">
      <!-- Current month -->
      <h1 class="responsive-header">{{ date.locale(getCurrentLocale()).format('dddd, Do MMMM') }}</h1>

      <nav class="dayTable-mobileNavigation is-hidden-tablet">
        <div @click="handlePreviousWasher">{{ currentWasher ? '&larr;' : '' }}</div>
        <div>{{ locale.interface.washer }} №{{ currentWasher + 1 }}</div>
        <div @click="handleNextWasher">{{ currentWasher < 3 ? '&rarr;' : '' }}</div>
      </nav>

      <table class="dayTable table is-bordered is-striped is-hoverable is-fullwidth">
        <tr class="is-hidden-mobile">
          <td>{{ locale.interface.time }}</td>
          <td
            v-for="washer in washers"
            :key="washer.id"
          >{{ locale.interface.washer }} №{{ washer.id }}</td>
        </tr>

        <tr v-for="time in times" :key="time.id">
          <!-- Time -->
          <td>{{ time.start }}–{{ time.end }}</td>

          <!-- Record wrapper -->
          <td
            v-for="(washer, index) in washers"
            :key="washer.id"
            class="dayWasher is-hidden-mobile"
            :class="{isMobileVisible: index === currentWasher}"
          >
            <!-- Record -->
            <record-block
              :time="time"
              :washer="washer"
              :month="date.month() + 1"
              :records="records"
              :getRecord="getRecord"
              :openRecordMenu="openRecordMenu"
              :handleOpenAddForm="handleOpenAddForm"
            ></record-block>
          </td>
        </tr>
      </table>

      <!-- Add form -->
      <transition name="fade">
        <div class="modal" :class="{'is-active': addForm}" v-if="addForm">
          <div class="modal-background"></div>
          <div class="modal-content">
            <!-- Form -->
            <add-record-form
              :times="times"
              :washers="washers"
              :date="date"
              :selectedTime="selectedTime"
              :selectedWasher="selectedWasher"
              :handleCloseAddForm="handleCloseAddForm"
            ></add-record-form>
          </div>

          <!-- Close modal -->
          <button class="modal-close is-large" aria-label="close" @click="handleCloseAddForm"></button>
        </div>
      </transition>

      <!-- Close button -->
      <button class="modal-close is-large closeButton" aria-label="close" @click="$router.go(-1)"></button>
    </div>
  </div>
</template>

<!-- Logic -->
<script src="./date-page.js"></script>
