// Mobile (until 768px)
+mobile
  .pageWrapper:not(.login)
    .contentWrapper
      margin: 5em auto 0 auto

  .register, .calendar, .day
    justify-content: flex-start

  .register form
    margin-bottom: 2em

  .responsive-header
    font-size: 2em !important
