.calendar
  align-items: baseline

  width: 90%
  max-width: 1024px

  h1
    margin-bottom: 2em

    font-size: 3em
    font-weight: bold

  .calendarDay
    position: relative

    padding: 2em

    color: #333333

  .calendarMonthDay
    position: absolute

    right: 8px
    bottom: 8px

  .modal-card-body
    p
      margin-bottom: 2em

  td
    cursor: pointer

  td.unavailableDate.calendarDay
    color: darkgray

.circleWrapper
  position: absolute

  left: 8px
  bottom: 8px

  .circle
    display: inline-block

    height: 8px
    width: 8px

    border-radius: 50%

.calendar-legend .circleWrapper
  position: static

  margin-bottom: 1em

  .circle
    height: 16px
    width: 16px

  span
    margin: 0 0.5em

  .calendar-legendElement
    display: inline-block

    margin-right: 1em

+mobile
  .container
    padding: 1.5em

    h1
      margin: 0 0 1em

    table
      tbody tr:first-child td:first-child
        margin-top: 0

      tr
        display: block

        background-color: #ffffff !important

        th, td
          display: block

          margin-top: 1em
