.day
  margin-top: 5em

  width: 90%
  max-width: 1024px

  //justify-content: flex-start

  h1
    margin: auto auto 1em

    font-size: 3em
    font-weight: bold

  td
    padding: 1em

    vertical-align: middle

    font-size: 1em

  .dayTable
    table-layout: fixed
    text-overflow: ellipsis

  .dayWasher
    padding: 0

    width: 20%

    color: lightgray

    text-align: center
    white-space: nowrap

  .dayWasher.availableTime
    cursor: pointer

  .dayRecord
    position: relative

    cursor: pointer

    box-shadow: none

    .message
      margin-bottom: 0

    .message-body
      border-radius: 0

  .dayRecord-phone
    color: white
    text-decoration: underline

    &:hover
      text-decoration: none

  .dayRecord-menu
    position: absolute

    margin: auto

    top: 90%
    right: 0
    left: 0

    z-index: 1

    padding: 1em

    max-width: 256px

    background: rgba($gray, 0.85)
    border-radius: 4px
    color: white

    text-align: left
    white-space: normal

    button
      margin-top: 0.5em

// Form to add posts
.addRecordForm
  align-items: baseline

  .field
    width: 100%

  input, select, .select
    width: 100%

  label
    color: white


.isMobileVisible
  display: table-cell !important


// Washers mobile navigation
.dayTable-mobileNavigation
  margin: auto auto 1em auto

  text-align: center

  div
    display: inline-block

    width: 30%

    text-align: center

  div:first-child
    text-align: left

  div:last-child
    text-align: right

+mobile
  .isMobileVisible
    width: 50% !important

  .unavailableDate
    display: none !important
