.profile
  // Greeting
  .profile-greeting
    margin-bottom: 1em

    font-size: 3em
    font-weight: bold

    text-align: center

  // Image
  .profile-image
    margin: 0 auto 2em

    height: 256px
    width: 256px

    background: center no-repeat $bulma-green
    background-size: cover

    border-radius: 50%

    color: white

    font-size: 2em

    text-align: center

    line-height: 256px

  // Buttons
  .profile-buttons.field.is-grouped
    justify-content: center
