$bulma-green: #00d1b2
$black: #333333
$gray: #414141

html, body, .container
  height: 100%
  min-height: 100%

.container
  display: flex

main
  margin: auto

  max-width: 512px

.level
  margin: auto

  width: 512px

// App
#app
  height: 100%

h1.title
  text-align: left

.register, .login
  margin: 0 auto

  align-items: baseline

  width: 90%

.modal-close.closeButton
  background-color: $gray

// Page
.pageWrapper
  align-self: center

  margin: auto

.contentWrapper
  width: 100%

.register, .login
  .contentWrapper
    max-width: 512px

.wrapper
  height: 100%

.container
  flex-direction: column
  align-items: center
  justify-content: center

  padding: 0 !important

.languageSelect
  position: absolute !important

  right: 16px
  bottom: 16px

// Libs
@import "~bulma"
@import "~animate.css/animate.min.css"

// Pages
@import 'profile'
@import 'calendar'
@import 'day'

// Responsive
@import 'responsive'

// TODO: REFACTORING
.modal-content, .modal-card
  width: 90%
  max-width: 640px