<!-- Template -->
<template>
  <div class="wrapper">
    <!-- Page wrapper -->
    <div class="guest container">
      <!-- Buttons -->
      <div class="field is-grouped">
        <!-- Left button -->
        <div class="control">
          <button
            @click="$router.push('register')"
            class="button level-item is-primary"
          >{{ locale.interface.register }}</button>
        </div>

        <!-- Right button -->
        <div class="control">
          <button
            @click="$router.push('login')"
            class="button level-item"
          >{{ locale.interface.login }}</button>
        </div>
      </div>
    </div>

    <!-- Language selector -->
    <div class="select languageSelect">
      <select title="language" @change="handleLocaleChange">
        <option :selected="getCurrentLocale() === 'ru'" value="ru">🇷🇺</option>
        <option :selected="getCurrentLocale() === 'en'" value="en">🇬🇧</option>
        <option :selected="getCurrentLocale() === 'no'" value="no">🇳🇴</option>
      </select>
    </div>
  </div>
</template>

<!-- Logic -->
<script src="./guest-page.js"></script>
