<!-- Template -->
<template>
  <div>
    <form class="form addRecordForm" @submit.prevent="handleAddForm">
      <!-- Time -->
      <div class="field">
        <label for="time-selector" class="label">{{ locale.interface.time }}</label>
        <div class="select">
          <select id="time-selector" v-model="selectedTime.id" :title="locale.interface.time">
            <option
              v-for="(time, index) in times"
              :value="time.id"
              :key="index"
            >{{ getTimeRange(time) }}</option>
          </select>
        </div>
      </div>

      <!-- Washer -->
      <div class="field">
        <label for="washer-selector" class="label">{{ locale.interface.washer }}</label>
        <div class="select">
          <select id="washer-selector" v-model="selectedWasher.id" :title="locale.interface.washer">
            <option
              v-for="(washer, index) in washers"
              :value="washer.id"
              :key="index"
            >{{ locale.interface.washer }} №{{ washer.id }}</option>
          </select>
        </div>
      </div>

      <!-- Name -->
      <div class="field">
        <label class="label">{{ locale.interface.name }}</label>
        <div class="control">
          <input title="user" type="text" class="input" :value="getCurrentUserName()" disabled>
          <input title="user" type="text" name="user" :value="getCurrentUser()['id']" hidden>
        </div>
      </div>

      <!-- Submit button -->
      <button
        class="button is-primary"
        type="submit"
        :class="{ 'is-loading': loading }"
      >{{ locale.interface.submit }}</button>
    </form>
  </div>
</template>

<!-- Logic -->
<script src="./add-record-form.js"></script>
